[submodule "cookie-scanner"]
	path = lambda/aws-lambda-cookie-scanner
	url = git@github.com:Cookie-Confirm/aws-lambda-cookie-scanner.git
[submodule "banner-screen-capture"]
	path = lambda/aws-lambda-screenshot-cookie-banner
	url = git@github.com:Cookie-Confirm/aws-lambda-screenshot-cookie-banner.git
[submodule "banner/platform"]
	path = banner/platform
	url = git@github.com:CodeTechNL/cookieconfirm.git
[submodule "platform"]
	path = platform
	url = git@github.com:CodeTechNL/cookieconfirm.git
[submodule "gtm-template"]
	path = gtm-template
	url = git@github.com:Cookie-Confirm/google-tag-manager-template.git
